{% extends 'notes/base.html' %}

{% block content %}
<h2 class="mb-4">All Sticky Notes</h2>

<a href="{% url 'note_create' %}" class="btn btn-primary mb-3">Create New Note</a>

<div class="row">
    {% for note in notes %}
        <div class="col-md-3">
            <div class="sticky-note p-3 mb-4">
                <h5>{{ note.title }}</h5>
                <p>{{ note.content|truncatewords:15 }}</p>
{# <a href="{% url 'note_detail' note.pk %}" class="btn btn-sm btn-dark">View</a> #}
            </div>
        </div>
    {% empty %}
        <p>No notes yet.</p>
    {% endfor %}
</div>
{% endblock %}
